#edit_page.col-md-12.mt-4
  .row
    .col-md-8.col-centered
      .panel.panel-default
        .panel-heading
          %h2 Edit Photo
        .panel-body
          %strong.center Current Image
          .current-image
            = image_tag @pic.image
          = render 'form'
