#edit_page.col-md-12.mt-4
  .row
    .col-md-8.col-centered
      .panel.panel-default
        .panel-heading
          %h2 Edit Photo
        .panel-body
          %span{  src: polymorphic_url(@pic.image), id: "current-image" }
          = render 'form'
